<%= render "shared/search_box"%>
<div class="container-fluid">
    <div class="row">
        <% @pds.each do |p| %>
            <%= render "shared/product", product: p %>
        <% end %>
    </div>
</div>