<%unless user.main_admin? %>
    <div class="d-flex w-25">
        <%= button_to "delete", user_path(user), method: :delete,data: { confirm: "comfirm it" }, class: "btn btn-danger" %>
        <%if user.admin? %>
            <%= button_to "Unadmin", admin_path(user), method: :patch, class: "btn btn-danger" %>
        <%else%>
            <%= button_to "Admin", admin_path(user), method: :patch, class: "btn btn-danger" %>
        <%end%>
    </div>
<%end%>