<div class="d-flex flex-column flex-sm-row justify-content-start">
    <%= render "shared/product", product: @product %>
    <%= render "feedback/feedbacks", product: @product %>
</div>
<div class="p-5">
   <%= render "feedback/new_feedback", product: @product %>
</div>