@import "font-awesome";
body{
    background-color: #81a4d1;
    padding-top: 56px;
}

.dropdown-menu-end {
    right: 0;
    left: auto;
}

.corner{
    position: absolute;
    top: 22px;
    left: 25px;
}