<footer class="footer">
    <small>
    The <a href="https://shop-web-2-0.onrender.com/">Shop clone</a>
    by <a href="https://www.facebook.com/tin.ngotrong.332">Ngo Trong Tin</a>
    </small>
</footer>
